* {
    padding: 0;
    margin: 0;
  }
  
  header {
    display: flex;
    background-color: black;
    padding: 10px;
  }
  
nav {
    display: flex;
    gap: 20px;
  }
  
  .home {
    display: flex;
  }

  nav a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding-top: 25px;
    padding-left: 15px;
  }

  .container {
    padding: 3%;
    padding-top: 2%;
    
  }

  .Tracklist {
    display: flex;
    padding: 3%;
    padding-top: 2%;
    height: 40%;
    font-size: 20px;
  }

  .Left {
    width: 60%;
  }

  .Right {
    font-size: 20px;
    padding: 1%;
    padding-top: 6%;
    padding-right: 500px;
    width: 60%;
  }