* {
    padding: 0;
    margin: 0;
  }
  
  header {
    display: flex;
    background-color: black;
    padding: 10px;
  }
  
nav {
    display: flex;
    gap: 20px;
  }
  
  .home {
    display: flex;
  }

  nav a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding-top: 25px;
    padding-left: 15px;
  }

  .container {
    padding: 3%;
    padding-top: 2%;
  }

  .Tracklist {
    display: flex;
    padding: 3%;
    padding-top: 2%;
    font-size: 20px;
    justify-content: space-between;
    padding-right: 0;
  }

  .Left {
    width: 30%;
  }

  .Right {
    width: 30%;
    padding-top: 5%;
  }

  .Image-Container {
    width: 30%;
    padding-bottom: 0;
  }