* {
    padding: 0;
    margin: 0;
  }
  
  header {
    display: flex;
    background-color: black;
    padding: 10px;
  }
  
nav {
    display: flex;
    gap: 20px;
  }
  
  .home {
    display: flex;
  }
  
  nav a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding-top: 25px;
    padding-left: 15px;
  }

  .image-container {
    display: flex;
    padding: 3%;
    padding-top: 2%;
    height: 400px;
  }
