* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    background-color: rgb(104, 7, 7, 1);
    padding: 30px;
}

nav {
    display: flex;
    gap: 20px;
    
}

.home {
    display: flex;
    height: 10%
}

div {
    display: flex;
    padding: 2%;
}

.BangChan {
    display: flex; 
    height: 150px;
    width: 10%;
    justify-content: flex-start;
}

.LeeKnow {
    display: flex; 
    height: 150px;
    width: 10%;
}

.Changbin {
    display: flex; 
    height: 150px;
    width: 10%;
}

.Hyunjin {
    display: flex; 
    height: 150px;
    width: 10%;
}

.Han {
    display: flex; 
    height: 150px;
    width: 10%;
}

.Felix {
    display: flex; 
    height: 150px;
    width: 10%;
}

.Seungmin {
    display: flex; 
    height: 150px;
    width: 10%;
}

.IN {
    display: flex; 
    height: 150px;
    width: 10%;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

main {
    display: flex;
    width: 20px;
}